// Theme Colors
$color-base: #282a36;
$color-highlight: #ff79c6;

$color-shade-darkest: #282a36;
$color-shade-dark: #282a36;
$color-shade-mid: #44475a;
$color-shade-light: #44475a;
$color-shade-lightest: #6272a4;

// Font Colors
$base-font-color: #f8f8f2;

$base-link-color: #50fa7b;
$base-link-color-active: #bd93f9;
